avro==1.8.1
biopython==1.70
CacheControl==0.11.7
certifi==2017.11.5
chardet==3.0.4
cwlref-runner==1.0
cwltool==1.0.20171017195544
DendroPy==4.3.0
future==0.16.0
idna==2.6
isodate==0.6.0
lockfile==0.12.2
mistune==0.7.4
numpy==1.13.3
pandas==0.21.0
patsy==0.4.1
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
rdflib==4.2.2
rdflib-jsonld==0.4.0
requests==2.18.4
ruamel.ordereddict==0.4.13
ruamel.yaml==0.14.12
schema-salad==2.6.20171102064032
scipy==1.0.0
shellescape==3.4.1
six==1.11.0
statsmodels==0.8.0
typing==3.6.2
urllib3==1.22
